<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qrcode2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/HufTuga"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Qrcode2">
        <activity android:name=".adicionar_ficehiros_1" />
        <activity android:name=".criar_ot" />
        <activity android:name=".ficheiros" />
        <activity android:name=".ordem_trabalho_aberta_1" />
        <activity android:name=".conferencia" />
        <activity android:name=".lista_ota" />
        <activity android:name=".avaria" />
        <activity android:name=".info" />
        <activity android:name=".foto" />
        <activity android:name=".video" />
        <activity android:name=".pdf" />
        <activity android:name=".historico" />
        <activity android:name=".qrcode" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>